body {
  background-color: #f0f0f0;
}
.customer {
  background-color: #fff;
}
.customer .customer-top .headline {
  padding-left: .30rem;
  line-height: .90rem;
}
.customer .customer-top .addCustomer {
  width: 1.20rem;
  height: .50rem;
  line-height: .48rem;
  border-radius: .12rem;
  margin: .20rem .30rem 0 0;
  color: #fff;
  background-color: #59b1f6;
}
.listTitle {
  width: 100%;
  border: none;
  background-color: #deebfc;
  height: .85rem;
  line-height: .85rem;
}
.customerList li {
  height: .77rem;
  line-height: .77rem;
}
.customerList li:nth-child(odd) {
  background-color: #fff;
}
.customerList li:nth-child(even) {
  background-color: #f8fbff;
}
.customerList .operate {
  color: #4293fc;
}
.name {
  width: 25%;
}
.contact {
  width: 50%;
}
.operate {
  width: 25%;
}
.empty {
  line-height: 3.00rem;
}
.marketing-link {
  display: block;
  width: 100%;
  height: .86rem;
  line-height: .86rem;
  background-color: #4d9efa;
  color: #fff;
  position: fixed;
  bottom: 0;
}
