.expandDetails .activityType {
  width: 100%;
  padding: 0 .30rem;
}
.expandDetails .activityType li {
  width: 20%;
  line-height: .90rem;
  color: #999999;
  margin: 0 2.5%;
}
.expandDetails .activityType .now {
  border-bottom: 3px solid #1d82d2;
  color: #1d82d2;
}
.expandDetails .activityTitle {
  background-color: #deebfc;
  line-height: .90rem;
  padding: 0 .30rem;
}
.expandDetails .activityInfo {
  display: none;
}
.expandDetails .activityInfo.now {
  display: block;
}
.expandDetails .activityInfo {
  padding: 0 .30rem;
}
.expandDetails .activityInfo li {
  line-height: .72rem;
}
.expandDetails .activityInfo li:nth-child(odd) {
  background-color: #fff;
}
.expandDetails .activityInfo li:nth-child(even) {
  background-color: #f8fbff;
}
.expandDetails .activityName {
  width: 56%;
}
.expandDetails .expandNumber {
  width: 22%;
}
.expandDetails .viewedNumber {
  width: 22%;
}
