body {
  background-color: #f0f0f0;
}
.detailsInfo {
  background-color: #f0f0f0;
  color: #666666;
  line-height: .60rem;
  padding-left: .30rem;
}
.personList li:nth-child(odd) {
  background-color: #f8fbff;
}
.personList li:nth-child(even) {
  background-color: #fff;
}
.personList li:first-child {
  background-color: #deebfc;
  color: #ed7e54;
  line-height: .85rem;
  border: none;
}
.personList .itemInfo {
  line-height: 1.12rem;
}
.personList .itemInfo .photo {
  padding-left: .40rem;
}
.personList .itemInfo .photo img {
  width: 0.80rem;
  height: 0.80rem;
  border-radius: 50%;
  margin: 0.16rem auto;
}
.personList .itemInfo .name {
  padding-right: .40rem;
}
