body {
  background-color: #f0f0f0;
}
.rankList {
  background-color: #fff;
  padding-left: .30rem;
}
.rankList .listDetails {
  padding-right: .30rem;
  border-bottom: 1px solid #e5e5e5;
}
.rankList .listDetails .gold {
  width: 1.50rem;
  height: 1.24rem;
  background: url(../images/icons/gold.png) center no-repeat;
  background-size: 1.03rem 1.24rem;
}
.rankList .listDetails .gold img {
  width: .96rem;
  height: .96rem;
  border-radius: 50%;
  margin: .25rem 0 0 .28rem;
}
.rankList .listDetails .sliver {
  width: 1.50rem;
  height: 1.04rem;
  background: url(../images/icons/sliver.png) center no-repeat #ffffff;
  background-size: .84rem 1.04rem;
}
.rankList .listDetails .sliver img {
  width: .79rem;
  height: .79rem;
  border-radius: 50%;
  margin: .23rem 0 0 .36rem;
}
.rankList .listDetails .cuprum {
  width: 1.50rem;
  height: 1.04rem;
  background: url(../images/icons/cuprum.png) center no-repeat;
  background-size: .84rem 1.02rem;
}
.rankList .listDetails .cuprum img {
  width: .79rem;
  height: .79rem;
  border-radius: 50%;
  margin: .22rem 0 0 .36rem;
}
.rankList .first {
  height: 1.50rem;
  line-height: 1.50rem;
}
.rankList .second {
  height: 1.30rem;
  line-height: 1.30rem;
}
.rankList .third {
  height: 1.20rem;
  line-height: 1.20rem;
  border: none;
}
.viewAll {
  margin-top: 1.25rem;
}
.viewAll a {
  display: block;
  line-height: .82rem;
  color: #4f9efb;
  background-color: #fff;
}
.viewAll a:first-child {
  margin-bottom: .30rem;
}
