<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zw.rule.mapper.qywxmanage.ContentShareManageMapper" >
  <resultMap id="BaseResultMap" type="com.zw.rule.qywxmanage.ContentShare" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="content_id" property="contentId" jdbcType="BIGINT" />
    <result column="employee_id" property="employeeId" jdbcType="BIGINT" />
    <result column="channel_type" property="channelType" jdbcType="BIGINT" />
    <result column="extension_type" property="extensionType" jdbcType="BIGINT" />
    <result column="addtime" property="addtime" jdbcType="TIMESTAMP" />
  </resultMap>

  <sql id="Base_Column_List" >
    id, content_id, employee_id, channel_type, extension_type, addtime
  </sql>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from content_share_manage
    where id = #{id,jdbcType=BIGINT}
  </select>

  <insert id="insertSelective" parameterType="com.zw.rule.qywxmanage.ContentShare" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into content_share_manage
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="contentId != null" >
        content_id,
      </if>
      <if test="employeeId != null" >
        employee_id,
      </if>
      <if test="channelType != null" >
        channel_type,
      </if>
      <if test="extensionType != null" >
        extension_type,
      </if>
      <if test="addtime != null" >
        addtime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="contentId != null" >
        #{contentId,jdbcType=BIGINT},
      </if>
      <if test="employeeId != null" >
        #{employeeId,jdbcType=BIGINT},
      </if>
      <if test="channelType != null" >
        #{channelType,jdbcType=BIGINT},
      </if>
      <if test="extensionType != null" >
        #{extensionType,jdbcType=BIGINT},
      </if>
      <if test="addtime != null" >
        #{addtime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="com.zw.rule.qywxmanage.ContentShare" >
    update content_share_manage
    <set >
      <if test="contentId != null" >
        content_id = #{contentId,jdbcType=BIGINT},
      </if>
      <if test="employeeId != null" >
        employee_id = #{employeeId,jdbcType=BIGINT},
      </if>
      <if test="channelType != null" >
        channel_type = #{channelType,jdbcType=BIGINT},
      </if>
      <if test="extensionType != null" >
        extension_type = #{extensionType,jdbcType=BIGINT},
      </if>
      <if test="addtime != null" >
        addtime = #{addtime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>

  <select id="countExtendByExtensionType" resultType="java.util.Map">
    select employee_id as employeeId,COUNT(extension_type) as extensionTypeNum FROM content_share_manage WHERE extension_type = #{extensionType} GROUP BY content_id ORDER BY COUNT(extension_type)
  </select>


</mapper>