<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zw.rule.mapper.qywxmanage.ContentSeeManageMapper" >
  <resultMap id="BaseResultMap" type="com.zw.rule.qywxmanage.ContentSee" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="customer_id" property="customerId" jdbcType="BIGINT" />
    <result column="content_id" property="contentId" jdbcType="BIGINT" />
    <result column="addtime" property="addtime" jdbcType="TIMESTAMP" />
  </resultMap>

  <sql id="Base_Column_List" >
    id, customer_id, content_id, addtime
  </sql>

  <select id="selectForExtentionRecord" resultType="com.zw.rule.qywxmanage.ExtensionRecordQuery" parameterType="java.lang.String" >
      SELECT a.id,a.name as extension_type, a.extend_num,b.click_num
      from
      (SELECT
           a.id,a.name, IFNULL(b.extend_num, 0) as extend_num
      FROM
          extension_type a
      left join
      (
      SELECT a.id, b.extension_type,count(*) as extend_num from  employee_manage a join content_share_manage b
      on a.id = b.employee_id
      where a.userid = #{userid,jdbcType=VARCHAR}
      GROUP BY a.id,b.extension_type
      )b
      on a.id = b.extension_type
      ORDER BY a.sorting
      ) a
      join (

      SELECT
           a.id,a.name, IFNULL(b.click_num, 0) as click_num
      FROM
          extension_type a
      left join (
      select a.id,b.extension_type,count(*) as click_num
      from employee_manage a left join (SELECT DISTINCT content_id,employee_id,extension_type from  content_share_manage b ) b
      on a.id = b.employee_id left join content_see_manage c on
      b.content_id = c.content_id
      where a.userid = #{userid,jdbcType=VARCHAR}
      group by a.id,b.extension_type
      )b
       on a.id = b.extension_type
       ORDER BY a.sorting
      ) b
      on a.id = b.id

  </select>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from content_see_manage
    where id = #{id,jdbcType=BIGINT}
  </select>

  <insert id="insertSelective" parameterType="com.zw.rule.qywxmanage.ContentSee" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into content_see_manage
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="customerId != null" >
        customer_id,
      </if>
      <if test="contentId != null" >
        content_id,
      </if>
      <if test="addtime != null" >
        addtime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="customerId != null" >
        #{customerId,jdbcType=BIGINT},
      </if>
      <if test="contentId != null" >
        #{contentId,jdbcType=BIGINT},
      </if>
      <if test="addtime != null" >
        #{addtime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="com.zw.rule.qywxmanage.ContentSee" >
    update content_see_manage
    <set >
      <if test="customerId != null" >
        customer_id = #{customerId,jdbcType=BIGINT},
      </if>
      <if test="contentId != null" >
        content_id = #{contentId,jdbcType=BIGINT},
      </if>
      <if test="addtime != null" >
        addtime = #{addtime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>

  <select id="selectExtendSeeCustomer" resultType="java.lang.Long">
    SELECT
        seeManage.customer_id as customerId
    FROM
        content_share_manage shareManage
    INNER JOIN content_manage content  on content.extension_type = shareManage.extension_type
    INNER JOIN content_see_manage seeManage  on content.id = seeManage.content_id
    WHERE
        content.extension_type = #{extendTypeId} and shareManage.employee_id = #{employeeId}
    GROUP BY
        seeManage.customer_id
  </select>
</mapper>