<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zw.rule.mapper.qywxmanage.UserMapper" >
  <resultMap id="BaseResultMap" type="com.zw.rule.qywxmanage.User" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="mobile" property="mobile" jdbcType="VARCHAR" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="shen" property="shen" jdbcType="INTEGER" />
    <result column="shen_name" property="shenName" jdbcType="VARCHAR" />
    <result column="shi" property="shi" jdbcType="INTEGER" />
    <result column="shi_name" property="shiName" jdbcType="VARCHAR" />
    <result column="qu" property="qu" jdbcType="INTEGER" />
    <result column="qu_name" property="quName" jdbcType="VARCHAR" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="employee_id" property="employeeId" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, name, mobile, email, shen, shen_name, shi, shi_name, qu, qu_name, address, employee_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from user
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from user
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.zw.rule.qywxmanage.User" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into user (name, mobile, email, 
      shen, shen_name, shi, 
      shi_name, qu, qu_name, 
      address, employee_id)
    values (#{name,jdbcType=VARCHAR}, #{mobile,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, 
      #{shen,jdbcType=INTEGER}, #{shenName,jdbcType=VARCHAR}, #{shi,jdbcType=INTEGER}, 
      #{shiName,jdbcType=VARCHAR}, #{qu,jdbcType=INTEGER}, #{quName,jdbcType=VARCHAR}, 
      #{address,jdbcType=VARCHAR}, #{employeeId,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.zw.rule.qywxmanage.User" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into user
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="name != null" >
        name,
      </if>
      <if test="mobile != null" >
        mobile,
      </if>
      <if test="email != null" >
        email,
      </if>
      <if test="shen != null" >
        shen,
      </if>
      <if test="shenName != null" >
        shen_name,
      </if>
      <if test="shi != null" >
        shi,
      </if>
      <if test="shiName != null" >
        shi_name,
      </if>
      <if test="qu != null" >
        qu,
      </if>
      <if test="quName != null" >
        qu_name,
      </if>
      <if test="address != null" >
        address,
      </if>
      <if test="employeeId != null" >
        employee_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null" >
        #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="shen != null" >
        #{shen,jdbcType=INTEGER},
      </if>
      <if test="shenName != null" >
        #{shenName,jdbcType=VARCHAR},
      </if>
      <if test="shi != null" >
        #{shi,jdbcType=INTEGER},
      </if>
      <if test="shiName != null" >
        #{shiName,jdbcType=VARCHAR},
      </if>
      <if test="qu != null" >
        #{qu,jdbcType=INTEGER},
      </if>
      <if test="quName != null" >
        #{quName,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="employeeId != null" >
        #{employeeId,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zw.rule.qywxmanage.User" >
    update user
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null" >
        mobile = #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="shen != null" >
        shen = #{shen,jdbcType=INTEGER},
      </if>
      <if test="shenName != null" >
        shen_name = #{shenName,jdbcType=VARCHAR},
      </if>
      <if test="shi != null" >
        shi = #{shi,jdbcType=INTEGER},
      </if>
      <if test="shiName != null" >
        shi_name = #{shiName,jdbcType=VARCHAR},
      </if>
      <if test="qu != null" >
        qu = #{qu,jdbcType=INTEGER},
      </if>
      <if test="quName != null" >
        qu_name = #{quName,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="employeeId != null" >
        employee_id = #{employeeId,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zw.rule.qywxmanage.User" >
    update user
    set name = #{name,jdbcType=VARCHAR},
      mobile = #{mobile,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      shen = #{shen,jdbcType=INTEGER},
      shen_name = #{shenName,jdbcType=VARCHAR},
      shi = #{shi,jdbcType=INTEGER},
      shi_name = #{shiName,jdbcType=VARCHAR},
      qu = #{qu,jdbcType=INTEGER},
      qu_name = #{quName,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      employee_id = #{employeeId,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>